{% extends 'base.html.twig' %}

{% block title %}Fitness At Home{% endblock %}

{% block body %}

<div class="accueil">
    <div class="title">
        <p>Welcome to</p>
        <h1>Fitness At home</h1>
        <hr>
        <p>Programmes sportifs & Nutrition</p>
        {% if app.user %} 
        {% else %}
        <div class="btn btn1"><a href="{{ path('inscription') }}">Rejoignez-nous maintenant</a></div>
        {% endif %}
        
        
    
    </div> 
</div>

<section class="section_box1">
    <div class="container_box1">
        <div class="box1">              
                        <h2>Qu'est-ce que le Fitness ?</h2>
                        <p>Sous le terme fitness sont regroupées une pluralité d’activités qu’elles soient individuelles,
                            comme les exercices de cardio, de musculation, des abdos-fessiers, du body combat 
                            ou d'autres déclinaisons visant l’amélioration de la condition physique. Les activités 
                            de fitness permettent à la fois de perdre du poids, de travailler tout le corps, son endurance 
                            et son cardio, de se muscler, de s’assouplir et de s’entretenir.</p>
                            <span>IL S'AGIT FINALEMENT DE FAVORISER LE BIEN-ETRE DES PARTICIPANTS ET LEUR FORME GLOBALE</span>
        </div> 
        <div class="box2">
            <img class="tapis" src="{{ asset('images/tapis.jpg') }}" alt="image tapis de sport">
        </div>
        
    </div>
</section>
    <!--//////////////////////             SECTION PROGRAMMES              //////////////////////-->
    <div class="programme grid-container">
        <article class="card_prog">
          <p class="title_sport" href="#">Cardio</p>
          <div class="prog_image">
            <div>
              <img  class="img_prog" src="{{ asset('images/shoes.jpg') }}" alt="">
            </div>
          </div>
        </article>
        <article class="card_prog">
            <p class="title_sport" href="#">Musculation</p>
            <div class="prog_image">
              <div>
                <img  class="img_prog" src="{{ asset('images/poid.jpg') }}" alt="">
              </div>
            </div>
          </article>
        <article class="card_prog">
            <p class="title_sport" href="#">HIIT</p>
            <div class="prog_image">
              <div class="">
                <img  class="img_prog" src="{{ asset('images/canoe.jpg') }}" alt="">
              </div>
            </div>
          </article>
          <article class="card_prog">
            <p class="title_sport" href="#">Musculation</p>
            <div class="prog_image">
              <div class="">
                <img  class="img_prog" src="{{ asset('images/sport.jpg') }}" alt="">
              </div>
            </div>
          </article>
      </div>
      <div class="button">
        <div class="btn3"><a href="">DECOUVREZ NOS PROGRAMMES</a></div> 
      </div>


    <!-- SECTION BOX HOVER-->
    
<section class="section_box">
    <h2>Les bienfaits de l'activité physique.</h2>
        <div class="container_box">
            <div class="box green1">
                <img class="img_box" src="{{ asset('images/icones/stress.png') }}" alt="icone stress">
                <p>Le sport réduit le stress, anxiété et dépression.</p>
            </div>
            <div class="box">
                <img class="img_box" src="{{ asset('images/icones/confidence.png') }}" alt="icone confiance">
                <p>Il est prouvé scientifiquement que l'activité physique améliore la confiance en soi</p>
            </div>
            <div class="box">
                <img class="img_box" src="{{ asset('images/icones/sign.png') }}" alt="icone santé">
                <p>Améliore la santé cardiovasculaire.</p>
            </div>
            <div class="box">
                <img class="img_box" src="{{ asset('images/icones/sommeil.png') }}" alt="icone sommeil">
                <p>Améliore le sommeil, réduit le temps d'endormissement.</p>
            </div>
        </div>
</section>

<!--//////////////////////// SECTION BLOG       //////////////////////-->

     <div class="content_article">
        <div class="img_article">
            <img src="{{ asset('images/'~ article.image) }}" alt="images des articles">
        </div>
        <article>
            <p class="categorie">{{ article.categorie.nom }}</p>
            <h4>{{ article.titre }}</h4>
            <span>{{ article.createdAt | date('d/m/Y H:i:s', "Europe/Paris") }}</span>
            <p class="paragraphe">{{ article.description }}</p>

                <div><a class="lire_plus" href="{{ path('blog_article', {id: article.id} ) }}">Lire plus...</a></div>
        </article>
       
        <div class="bouton_articles">
            <a href="{{ path('blog') }}">Voir tous les articles</a>
        </div>
       
    </div> 

  



{% endblock %}
