{% extends 'base.html.twig' %}
{% block title %}Détail article{% endblock %}

{% block body %}
<h3 class="title_progr" >Détail article</h3>
    <div style="padding: 70px;" class="container">
        <div class="row">
        <article class="col-lg-8 col-md-8 offset-md-2" >
            <p class="categorie">Alimentation</p>
            <h4>{{ article.titre }}</h4>
           {# SI LA DATE DE CREATION EST EGAL A LA DATE D'UPDATE AFFICHE SEULEMENT LA DATE DE CREATION #}
           {% if  (article.updatedAt) == (article.createdAt) %}
           <span>Créé le :{{ article.createdAt | date('d/m/Y H:i:s', "Europe/Paris") }}</span>
           
           {% else %}
           {# SI CEST DIFFERENT AFFICHE LES DEUX #}
           <span>{{ article.createdAt | date('d/m/Y H:i:s', "Europe/Paris") }}</span>
           <div><span>Mis à jour le {{ article.updatedAt | date('d/m/Y H:i:s', "Europe/Paris") }}</span></div>
           {% endif %}
            <p>{{ article.description }}</p>
        </article>
        </div>
    </div>          
{% endblock %}

     







